* {
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

@media (max-width: 780px) {
  .imagenes {
    height: 300px !important;
    width: 300px !important;
  }
  .mapouter {
    height: 300px !important;
    width: 300px !important;
  }
}
@media (max-width: 780px) {
  .responsive {
    height: 300px !important;
    width: 300px !important;
    object-fit: cover;
  }
}
@media (max-width: 780px) {
  .input {
    height: 200px;
    width: 200px;
  }
}
.body-p {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

#fotos-animales {
  padding: 0;
}

.header {
  background-color: rgb(133, 133, 133);
}

.footer-index {
  flex-direction: row;
  align-items: flex-end;
  overflow-y: hidden;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #000000;
  overflow-y: hidden;
}

i {
  color: white;
  font-size: 30px;
  margin-left: 10px;
  padding: 20px;
  overflow-y: hidden;
}

.imagen-suricata {
  width: 600px;
  height: 600px;
}

.imagenes {
  background-position: center;
  width: 600px;
  height: 600px;
  border: 2px solid black;
  box-shadow: 0px 0px 10px black;
  margin: auto;
  margin: 30px;
  object-fit: cover;
}
@media (max-width: 780px) {
  .imagenes .imagenes {
    height: 300px !important;
    width: 300px !important;
  }
}

.imagenes-elefante {
  margin: auto;
  background-position: center;
  width: 600px;
  height: 600px;
  border: 2px solid black;
  box-shadow: 0px 0px 10px black;
}

.imagenes-ubicacion {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.imagenes:hover {
  border: 2px solid rgb(255, 255, 255);
}

@media (max-width: 780px) {
  .videos .imagenes {
    height: 300px !important;
    width: 300px !important;
  }
}

.body-1 {
  background-color: #909090;
  overflow-x: hidden;
}

.contenido {
  background-color: #a1a0b6;
}

.logo {
  width: 50px;
  height: 50px;
}

.lindos {
  padding-left: 20px;
}

.titulo-index {
  text-align: center;
  font-size: 50px;
  color: #cba5a5;
  text-shadow: 2px 2px 2px #000000;
  padding: 50px;
}

.titulo-index-2 {
  text-align: center;
  font-size: 50px;
  color: #cba5a5;
  text-shadow: 2px 2px 2px #000000;
  padding: 20px;
}

.subtitulo-index {
  text-align: center;
  font-size: 30px;
  color: rgb(178, 115, 81);
  text-shadow: 1px 0px 1px #000000;
  padding: 20px;
}

.carrousel {
  padding: 50px;
  width: 900px;
}

.carrosel {
  display: flex;
  justify-content: center;
}

.suricata {
  width: 900px;
  height: 55vh;
  object-fit: cover;
}

.button {
  background-color: #666666;
  border-radius: 10px;
  border: 1px solid #f5f5f5;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 200px;
}

.button:hover {
  background-color: #000000;
  color: white;
  border: 1px solid #909090;
  font-weight: 700;
}

label {
  display: flex;
  margin-top: 20px;
  letter-spacing: 1px;
}

.principal {
  display: flex;
  margin: 0 auto;
  color: #666666;
  font-family: Arial;
  text-align: center;
  padding: 20px;
  padding-top: 170px;
}

form {
  margin: 0 auto;
  width: 400px;
}

input, textarea {
  width: 380px;
  height: 27px;
  background: #666666;
  border: 2px solid #f6f6f6;
  padding: 10px;
  margin-top: 5px;
  font-size: 10px;
  color: #ffffff;
  border-radius: 5%;
}

textarea {
  height: 150px;
}

.contacto {
  display: flex;
  text-align: center;
}

/*# sourceMappingURL=estilos.css.map */
