.body-1{
    background-color: #909090;
    overflow-x: hidden;
}

.contenido{
    background-color: #a1a0b6;
}

.logo{
    width: 50px;
    height: 50px;
  }

.lindos{
   padding-left: 20px;

}
.titulo-index{
    text-align: center;
    font-size: 50px; 
    color: map-get( $colors , colortitulo );
    text-shadow: 2px 2px 2px #000000;
    padding: 50px;
}

.titulo-index-2{
    text-align: center;
    font-size: 50px; 
    color: map-get( $colors , colortitulo );
    text-shadow: 2px 2px 2px #000000;
    padding: 20px;
}

.subtitulo-index{
    text-align: center;
    font-size: 30px; 
    color: rgb(178, 115, 81);
    text-shadow: 1px 0px 1px #000000;
    padding: 20px;
}

.carrousel{
    padding: 50px;
    width: 900px;
 }
 
 .carrosel{
     display: flex;
     justify-content: center;
 }
 .suricata{
     width: 900px;
     height: 55vh;
     object-fit: cover;
 }