.body-1{
    background-color: #909090;
    overflow-x: hidden;
}

.contenido{
    background-color: rgba(214, 198, 151, 0.392);
}

.logo{
    width: 50px;
    height: 50px;
  }

.lindos{
   padding-left: 20px;

}
.titulo-index{
    text-align: center;
    font-size: 40px; 
    color: map-get( $colors , colortitulo );
    text-shadow: 2px 2px 2px #000000;
    padding: 20px;
    border-top: white 1px solid;
    border-bottom: white 1px solid;
    background-color: #787878;
}

.titulo-index-2{
    text-align: center;
    font-size: 40px; 
    color: map-get( $colors , colortitulo );
    text-shadow: 2px 2px 2px #000000;
    padding: 20px;
    border-top: white 1px solid;
    border-bottom: white 1px solid;
    background-color: #787878;
}

.titulo3-index{
    text-align: center;
    font-size: 40px; 
    color: map-get( $colors , colortitulo );
    text-shadow: 2px 2px 2px #000000;
    padding: 20px;

}

.listado-index{
    text-align: center;
    font-size: 20px; 
    color: map-get( $colors , colortitulo );
    text-shadow: 2px 2px 2px #000000;
    padding: 20px;
    border-top: white 1px solid;
    border-bottom: white 1px solid;
    background-color: #2c000060;
}

.subtitulo-index{
    text-align: center;
    font-size: 20px; 
    color: rgb(113, 4, 4);
    text-shadow: 2px 2px 2px #ffffff;
    padding: 20px;
}

.carrousel{
    padding: 50px;
    width: 900px;
 }
 
 .carrosel{
     display: flex;
     justify-content: center;
 }
 .suricata{
     width: 900px;
     height: 55vh;
     object-fit: cover;
 }