@media (max-width: 780px){

    .imagenes{
        height: 300px !important;
        width: 300px !important;
    }

    .mapouter{
        height: 300px !important;
        width: 300px !important;
    }

    
}

@media (max-width: 780px){

   .responsive{
        height: 300px !important;
        width: 300px !important;
        object-fit: cover;
   }

    
}

@media (max-width: 780px){

    .input{
         height: 200px;
         width: 200px;
    }
 
     
 }