@media (max-width: 780px){

    .imagenes{
        height: 300px !important;
        width: 300px !important;
    }

    .mapouter{
        height: 300px !important;
        width: 300px !important;
    }

    
}

@media (max-width: 780px){

   .responsive{
        height: 300px !important;
        width: 300px !important;
        object-fit: cover;
   }

    
}

@media (max-width: 680px){

    .contact_form{
         
         width: 350px !important;
    }
    
    input{
        width: 300px !important;
    }

    textarea{
        width: 300px !important;
    }
     
    .button{
        width: 250px !important;
    }
 }
