@media (max-width: 780px){

    .imagenes{
        height: 300px !important;
        width: 300px !important;
    }

    .mapouter{
        height: 300px !important;
        width: 300px !important;
    }

    
}

