
.footer-index{
    flex-direction: row;
    align-items: flex-end;
  
    }

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #000000;
   
    
}

i{
    color: white;
    font-size: 50px;
    margin-left: 10px;
}

.arbolito{
    color: #000000 !important; 
}