.body-p {
    background-color: map-get( $colors , colorbody  );
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;

}

#fotos-animales{
    padding: 0;
}