

.imagen-suricata{
    width: 600px;
    height: 600px;
}
.imagenes{
    background-position: center;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;
    margin: auto;
    margin: 30px;
    @include mediaquery;
    object-fit: cover;
}

.imagenes-elefante{
    margin: auto;
    background-position: center;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;
    
}

.imagenes-ubicacion{
    width: 200px;
    height: 200px;
    object-fit: contain;
   
}

.imagenes:hover {
    border: 2px solid rgb(255, 255, 255);
}

 

.img-index{
   
    display: grid;
    grid-template-areas:"margaray tigre"
                        "suricata  pinguino"
                        "comadreja  panda";
    text-align: center;

    }

.tigre {
    grid-area: tigre;
    width: 100px;
}
     
.margaray{
    grid-area: margaray;
    width: 100px;
}

.suricatax{
    grid-area: suricata;
    width: 100px;
}

.pinguino{
    grid-area: pinguino;
    width: 100px;
}

.comadreja{
    grid-area: comadreja;
    width: 100px;
}

.panda{
    grid-area: panda;
    width: 100px;
}