

.imagen-suricata{
    width: 600px;
    height: 600px;
}
.imagenes{
    background-position: center;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;
    margin: auto;
    margin: 30px;
    @include mediaquery;
    object-fit: cover;
}

.imagenes-elefante{
    margin: auto;
    background-position: center;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;
    
}

.imagenes-ubicacion{
    width: 200px;
    height: 200px;
    object-fit: contain;
   
}

.imagenes:hover {
    border: 2px solid rgb(255, 255, 255);
}



.img-index{
   
    display: grid;
    grid-template-areas:"margaray tigre"
                        "suricata  pinguino"
                        "comadreja  panda";
    grid-template-columns: 0.4fr 0.1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-right: 20px;
    margin-left: 40px;
    }

.tigre {
    grid-area: tigre;
    width: 150px;
}
.tigre:hover{
    border: 2px solid rgb(255, 255, 255);
    width: 160px;
}
     
.margaray{
    grid-area: margaray;
    width: 150px;
}
.margaray:hover{
    border: 2px solid rgb(255, 255, 255);
    width: 160px;
}

.suricatax{
    grid-area: suricata;
    width: 150px;
}
.suricatax:hover{
    border: 2px solid rgb(255, 255, 255);
    width: 160px;
}

.pinguino{
    grid-area: pinguino;
    width: 150px;
}
.pinguino:hover{
    border: 2px solid rgb(255, 255, 255);
    width: 160px;
}

.comadreja{
    grid-area: comadreja;
    width: 150px;
}
.comadreja:hover{
    border: 2px solid rgb(255, 255, 255);
    width: 160px;
}

.panda{
    grid-area: panda;
    width: 150px;
}
.panda:hover{
    border: 2px solid rgb(255, 255, 255);
    width: 160px;
}